In [7]:
import pandas as pd
import numpy as np
import glob

In [8]:
membership_path = "data/membership_data/"
jc_path = "data/trip_data/jersey_city/"
nyc_path="data/trip_data/nyc/"

In [9]:
#Annual data - combine monthly csv's into one annual csv and export
#Only needed once, so it is commented out

nyc = pd.concat(map(pd.read_csv, glob.glob('data/trip_data/nyc/*.csv')))

In [12]:
nyc.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [16]:
nyc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9241911 entries, 0 to 1897591
Data columns (total 15 columns):
tripduration               int64
starttime                  object
stoptime                   object
start station id           float64
start station name         object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name           object
end station latitude       float64
end station longitude      float64
bikeid                     int64
usertype                   object
birth year                 float64
gender                     int64
dtypes: float64(7), int64(3), object(5)
memory usage: 1.4+ GB

In [21]:
nyc['age']=2020-nyc['birth year']

In [22]:
nyc.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,age
0,816,2018-03-01 02:29:13.7270,2018-03-01 02:42:50.1460,72.0,W 52 St & 11 Ave,40.767272,-73.993929,379.0,W 31 St & 7 Ave,40.749156,-73.991600,31413,Subscriber,1973.0,1,47.0
1,235,2018-03-01 05:12:37.0320,2018-03-01 05:16:32.1010,72.0,W 52 St & 11 Ave,40.767272,-73.993929,478.0,11 Ave & W 41 St,40.760301,-73.998842,33202,Subscriber,1965.0,1,55.0
2,1250,2018-03-01 05:45:49.9000,2018-03-01 06:06:39.9080,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3664.0,North Moore St & Greenwich St,40.720195,-74.010301,26675,Subscriber,1984.0,1,36.0
3,741,2018-03-01 06:54:19.6150,2018-03-01 07:06:40.9790,72.0,W 52 St & 11 Ave,40.767272,-73.993929,459.0,W 20 St & 11 Ave,40.746745,-74.007756,31011,Subscriber,1981.0,1,39.0
4,727,2018-03-01 07:08:38.8610,2018-03-01 07:20:46.8500,72.0,W 52 St & 11 Ave,40.767272,-73.993929,2006.0,Central Park S & 6 Ave,40.765909,-73.976342,30616,Subscriber,1990.0,2,30.0

In [24]:
nyc = nyc.drop(['birth year'], axis=1)

In [25]:
nyc.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,gender,age
0,816,2018-03-01 02:29:13.7270,2018-03-01 02:42:50.1460,72.0,W 52 St & 11 Ave,40.767272,-73.993929,379.0,W 31 St & 7 Ave,40.749156,-73.991600,31413,Subscriber,1,47.0
1,235,2018-03-01 05:12:37.0320,2018-03-01 05:16:32.1010,72.0,W 52 St & 11 Ave,40.767272,-73.993929,478.0,11 Ave & W 41 St,40.760301,-73.998842,33202,Subscriber,1,55.0
2,1250,2018-03-01 05:45:49.9000,2018-03-01 06:06:39.9080,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3664.0,North Moore St & Greenwich St,40.720195,-74.010301,26675,Subscriber,1,36.0
3,741,2018-03-01 06:54:19.6150,2018-03-01 07:06:40.9790,72.0,W 52 St & 11 Ave,40.767272,-73.993929,459.0,W 20 St & 11 Ave,40.746745,-74.007756,31011,Subscriber,1,39.0
4,727,2018-03-01 07:08:38.8610,2018-03-01 07:20:46.8500,72.0,W 52 St & 11 Ave,40.767272,-73.993929,2006.0,Central Park S & 6 Ave,40.765909,-73.976342,30616,Subscriber,2,30.0

In [26]:
#write to csv 
nyc.to_csv('data/trip_data/nyc/nyc_data.csv', index=False)

In [ ]:
#ny18 = pd.read_csv(nyc_path+"NYC_annual_2018.csv")

In [4]:
ny19=pd.read_csv(nyc_path+"NYC_annual_2019.csv")

In [5]:
ny19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20551697 entries, 0 to 20551696
Data columns (total 15 columns):
tripduration               int64
starttime                  object
stoptime                   object
start station id           float64
start station name         object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name           object
end station latitude       float64
end station longitude      float64
bikeid                     int64
usertype                   object
birth year                 int64
gender                     int64
dtypes: float64(6), int64(4), object(5)
memory usage: 2.3+ GB

In [6]:
len(ny19)

20551697

In [92]:
column_rename={'Bike ID':'bikeid', 'Birth Year':'birth year', 'End Station ID':'end station id', 'End Station Latitude':'end station latitude',
       'End Station Longitude':'end station latitude', 'End Station Name':'end station name', 'Gender':'gender',
       'Start Station ID':'start station id', 'Start Station Latitude':'start station latitude', 'Start Station Longitude':'start station longitude',
       'Start Station Name':'start station name', 'Start Time':'starttime', 'Stop Time':'stoptime', 'Trip Duration':'tripduration',
       'User Type':'usertype'}

In [89]:
data_types = { 
"tripduration":np.int32,
"starttime":object,
"stoptime":object,
"start station id":np.int32,
"start station name":object,
"start station latitude":np.float64,
"start station longitude":np.float64,
"end station id":np.int32,
"end station name":object,
"end station latitude":np.float64,
"end station longitude":np.float64,
"bikeid":np.int32,
"usertype":object,
"birth year":np.int32,
"gender":np.int32}